/*Google $font-stack*/


/* @import url(http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap)*/


/* @import url(http://fonts.googleapis.com/css2?family=Shrikhand&display=swap)*/


/* Font Variables*/

$title: shrikhand;
$text: roboto;

/*variables*/

$colors:( primary: #9356DC, secondary: #FF79DA, tertiary: #99E2D0);

/* Styles*/

body {
    font-family: $text;
    font-weight: normal;
}

@media (min-width: 760px) {
    .meal-class {
        width: 30%;
    }
}

.loading-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: full-load 1s linear 3s 1 normal backwards;
}

@keyframes full-load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3298db;
    -webkit-animation: spin 4s linear forwards;
    animation: spin 3s linear forwards;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

.page-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    animation: loaded 1s linear 3s 1 normal backwards;
}

@keyframes loaded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    width: 70%;
    padding-left: 17%;
    height: 30%;
    border-radius: 0px;
    margin: 0px;
}

.image {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $title;
    width: 100%;
}

h4 {
    // border-bottom: solid #99E2D0 3px;
    // padding-bottom: 12px;
    // width: 90px;
    font-weight: 400;
    font-family: $text;
}

.line {
    height: 5px;
    width: 40px;
    background-color: #99E2D0;
    margin: 10px 0px;
}

.price {
    font-weight: 700;
}

.menu-wrapper {
    background-color: #e2e2e2;
    margin-top: -15px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    // width: 275px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/*.meal-class {
    width: 90%;
}*/

.heart {
    position: absolute;
    left: 270px;
    top: 46px;
    right: 0;
    size: 20px;
}

.solid-heart {
    position: absolute;
    left: 270px;
    top: 46px;
    right: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity;
}

.solid-heart:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    transition: background-image;
    transition-duration: 2s;
    background-image: linear-gradient(#9356DC, #FF79DA);
}

h5 {
    margin: 3px;
    font-weight: 900;
    font-family: $text;
    font-size: 16px;
    padding: 8px 10px 0px;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    // width: 300px;
    height: 75px;
    box-shadow: 0 3px 10px 2px rgba( 0, 0, 0, 0.1);
    background-color: white;
    gap: 10px;
    margin: 10px -10px;
    position: relative;
    animation: food-card;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
        @for $i from 1 through 9{
            &:nth-child(#{$i}n){
                animation-delay: #{$i * 0.5}s;
            }
        }
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -15px 10px;
    font-size: 13px;
    padding: 5px;
}

.food-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-overflow: ellipsis;
}

@keyframes food-card {
    0% {
        bottom: -500px;
    }
    100% {
        bottom: 0;
    }
}

img {
    width: 312px;
    height: 250px;
    margin-left: -20px;
}

.check {
    visibility: hidden;
    color: white;
    width: 0px;
    position: relative;
    right: 0px;
    padding: 20px 14px;
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
}

.menu-item:hover .check {
    width: 30px;
    background-color: #99E2D0;
    color: white;
    visibility: visible;
    z-index: 1;
    transform: translateX(-30px);
    transition: 3s;
    padding: 22px 14px;
    border-radius: 0px 20px 20px 0px;
    margin-right: -30px;
    margin-left: 6px;
}

.order {
    border-radius: 18px;
    background: linear-gradient(#FF79DA, #9356DC);
    width: 135px;
    height: 35px;
    color: white;
    padding: 10px 26px;
    font-size: 12px;
    align-self: center;
    border: none;
    box-shadow: 0 1px 1px 1px rgba( 0, 0, 0, 0.1);
    margin: 50px;
    position: relative;
    bottom: 10px;
    left: 20px;
}

h3 {
    font-family: $title;
    color: white;
    margin-top: 0px;
    font-size: 15px;
    font-weight: unset;
}

.suggest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
}

.become {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
}

i.fa-utensils {
    color: white;
    margin-right: 15px;
}

i.fa-hands-helping {
    color: white;
    margin-right: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    gap: 10px;
    padding: 30px;
    // width: 255px;
}

a:link {
    text-decoration: none;
    color: white;
}