/*Google $font-stack*/


/* @import url(http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap)*/


/* @import url(http://fonts.googleapis.com/css2?family=Shrikhand&display=swap)*/


/*variables*/

@import "./utils/variables";

/* Styles*/

body {
    font-family: $text;
    font-weight: normal;
    width: 100%;
}

@media (min-width: 760px) {
    // body {
    //     width: 700px;
    // }
    .page-wrapper {
        // width: 700px;
    }
    .location-wrapper {
        // width: 700px;
    }
    .explore-wrapper {
        // width: 712px;
    }
    h2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .guide {
        display: flex;
        align-content: center;
        justify-content: center;
        // width: 700px;
    }
    .work_btn {
        // width: 230px;
        height: 40xp;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #restaurant-wrapper {
        // width: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 300px;
    }
    img {
        width: 300px;
    }
    .heart {
        left: 240px;
    }
    .solid-heart {
        left: 240px;
    }
}

@media (min-width: 1020px) {
    /* body {
        width: 700px;
    }*/
    .page-wrapper {
        // width: 700px;
    }
    .location-wrapper {
        // width: 700px;
    }
    .explore-wrapper {
        // width: 712px;
    }
    h2 {
        display: flex;
        justify-content: center;
        // width: 700px;
    }
    .guide {
        display: flex;
        align-content: center;
        justify-content: center;
        // width: 700px;
    }
    .work_btn {
        // width: 230px;
        height: 40xp;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #restaurant-wrapper {
        // width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card {
        width: 300px;
    }
    img {
        width: 100%;
    }
    .heart {
        left: 240px;
    }
    .solid-heart {
        left: 240px;
    }
}


/*phone body*/

.loading-page {
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: full-load 1s linear 3s 1 normal backwards;
}

@keyframes full-load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3298db;
    -webkit-animation: spin 4s linear forwards;
    animation: spin 3s linear forwards;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

.page-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    animation: loaded 1s linear 3s 1 normal backwards;
}

@keyframes loaded {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo {
    width: 70%;
    padding-left: 17%;
    height: 30%;
    border-radius: 0px;
    justify-content: end;
}

header {
    background-color: #FFFFFF;
    border: solid #FFFFFF;
}

.location-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: solid #d3d3d3 3px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    // width: 300px;
    gap: 12px;
    font-size: 13px;
}

.explore-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    border: #F6F6F6 solid 2px;
    // width: 312px;
}

h2 {
    font-weight: 700;
}

.book {
    align-self: center;
}

.discover {
    align-self: center;
    text-align: center;
    font-weight: 300;
}

.circle {
    border-radius: 50%;
    // width: 10px;
    height: 10px;
    padding: 0px 4px 9px 4px;
    background: #fff;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: $colors-primary;
    margin: 37px 3px;
    z-index: 1;
}

.btn-restaurants {
    border-radius: 18px;
    background: linear-gradient(#FF79DA, $colors-primary);
    // width: 125px;
    height: 16px;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    align-self: center;
    border: none;
    box-shadow: 0 1px 1px 1px rgba( 0, 0, 0, 0.1);
    margin: 18px;
}

.works_wrapper {
    display: flex;
    flex-direction: column;
}

.guide {
    display: flex;
    align-content: center;
    // justify-content: flex-start;
}

.work_btn {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 12px 27px;
    margin: 15px -15px;
    background-color: #F6F6F6;
    box-shadow: 0 3px 10px 2px rgba( 0, 0, 0, 0.1);
    gap: 15px;
    width: 230px;
    height: 40px;
}

.mobile {
    color: #474747;
}

.list {
    color: #474747;
}

.store {
    color: $colors-primary;
}

img {
    height: 130px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

h4 {
    margin: 6px;
    font-weight: 700;
    color: #000;
}

h5 {
    margin: 2px 8px;
    color: #000;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    box-shadow: 0 1px 1px 1px rgba( 0, 0, 0, 0.1);
    // width: 265px;
    background-color: white;
    margin: 20px;
    color: #000;
}

.new {
    position: absolute;
    top: 8px;
    right: 16px;
    color: rgb(0, 155, 70);
    background-color: #99E2D0;
    padding: 5px 15px;
}

.restaurant-card {
    display: flex;
    flex-direction: row;
    // width: 250px;
    justify-content: space-between;
}

#restaurant-wrapper {
    background-color: #f2f2f2;
    // width: 300px;
    padding-bottom: 1px;
}

.name-card {
    display: flex;
    flex-direction: column;
    // background-color: white;
}

.heart {
    position: absolute;
    left: 210px;
    top: 120px;
    height: 20px;
    // width: 20px;
    color: #000;
    padding: 20px;
}

.solid-heart {
    position: absolute;
    left: 210px;
    top: 120px;
    height: 20px;
    // width: 20px;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity;
}

.solid-heart:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 100%;
    transition: background-image;
    transition-duration: 2s;
    background-image: linear-gradient($colors-primary, #FF79DA);
}

h3 {
    font-family: $title;
    color: white;
    margin-top: 0px;
}

.suggest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 180px;
}

.become {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 159px;
}

i.fa-utensils {
    color: white;
    margin-right: 15px;
}

i.fa-hands-helping {
    color: white;
    margin-right: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    gap: 10px;
    align-items: flex-start;
    padding: 30px;
    // width: 240px;
}

a:link {
    text-decoration: none;
    color: white;
}