body {
  font-family: roboto;
  font-weight: normal;
}

.page-wrapper {
  width: 320px;
}

.logo {
  width: 125px;
  padding-left: 49px;
  height: 20px;
  border-radius: 0px;
  margin: 0px;
}

.image {
  margin-left: 20px;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: shrikhand;
}

h4 {
  border-bottom: solid #99E2D0 3px;
  padding-bottom: 12px;
  width: 42px;
  font-weight: 400;
  font-family: roboto;
}

.price {
  font-weight: 700;
}

.menu-wrapper {
  background-color: #e2e2e2;
  margin-top: -15px;
  padding: 20px;
  border-radius: 20px;
  width: 275px;
  position: relative;
  z-index: 1;
}

#heart {
  size: 20px;
  color: red;
  background-color: red;
  -webkit-text-decoration-color: #FF79DA;
          text-decoration-color: #FF79DA;
  width: 100px;
  stroke: var(#9356DC);
  fill: var(#FF79DA);
  stroke-dasharray: 54;
  stroke-dashoffset: 54;
  width: 50px;
}

h5 {
  margin: 3px;
  font-weight: 900;
  font-family: roboto;
  font-size: 16px;
  padding: 8px 10px 0px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 75px;
  -webkit-box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  gap: 10px;
  margin: 10px -10px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -15px 10px;
  font-size: 13px;
  padding: 20px 5px;
}

.food-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

img {
  width: 312px;
  height: 250px;
  margin-left: -20px;
}

.check {
  visibility: hidden;
  color: white;
  width: 0px;
  z-index: -1;
}

.check:active {
  width: 30px;
  background-color: #99E2D0;
  color: white;
  padding: 22px 14px;
  border-radius: 0px 20px 20px 0px;
}

h3 {
  font-family: shrikhand;
  color: white;
  margin-top: 0px;
}

.order {
  border-radius: 20px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 10px 100px;
  width: 140px;
  border: none;
  height: 38px;
}

.suggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 180px;
}

.become {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 159px;
}

i.fa-utensils {
  color: white;
}

i.fa-hands-helping {
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292929;
  gap: 10px;
  padding: 30px;
}

a:link {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=theenchantedplate.css.map */